

*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	scroll-behavior: smooth;
}


html,body{
	overflow-x:hidden;
}


.hero{
	height: 800px;
	border: 1px solid red;
	width: 100%;
	background-color: black;
	/* background-size: cover;
	background-position: center; */
	background-size: cover;
	background-image: url(../resources/black.jpg);
	
}
nav{
	display: flex;
	position: fixed;
	width:100%;
	align-items: center;
	justify-content:space-between;
	height:70px;
	padding-left: 8%;
	padding-right: 8%;
	background-color:black;
	z-index: 999;
	
}



.logo{
	color: white;
	font-size: 30px;
	cursor: pointer;
}
span{
	color: #f9004d;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
/* .content{
	position:absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
	

} */

.content{
	position:absolute;
	top: 70%;
	left:8%;
	transform: translateY(-50%);
	

}

.content a{
	color:white;
	text-decoration: none;
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}


.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 750px;
	padding-left: 6%;
}
.main{
	width: 1150px;
	max-width: 90%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.main img {
	width:40%;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color:rgba(238, 229, 229, 0.778);
	text-align: justify;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}

/* Education */
.education{
	padding:10px 0px;
	width:100%;
	height:480px;
	background-color: #191919;
	color:white;
	/* border: 1px solid red; */
}

.education > .title{
	/* border: 1px solid orange; */
	margin-bottom: -5%;
}
.colleges{
	display:flex;
	height:80%;
	width:95%;
	margin:auto;
	align-items: center;
	justify-content: space-evenly;
	column-gap: 3%;
	/* border:1px solid blue; */
}
.colleges .boxes{
	height:62%;
	width:100%;
	padding:15px;
	border-radius: 10px;
	border:1px solid blueviolet;
	
}

.boxes h2{
	text-align: center;
	margin-top:10px;
}
.boxes p:nth-child(2){
	font-style: italic;
	text-align: center;
	margin:10px;
}
.boxes p:nth-child(3){
	text-align: center;
	margin:10px;
}

.boxes h4{
	text-align: center;
	margin:10px;
}
.boxes p:nth-child(5){
	font-size: 12px;
	font-style: italic;
	text-align: center;
	margin:10px;
}
.boxes p:nth-child(6){
	text-align: center;
	margin:10px;
}
.boxes p:nth-child(7){
	text-align: center;
}

/* Achievements Section starts here  */

.achievements{
	padding:10px 0px;
	width:100%;
	height:380px;
	background-color: #191919;
	color:white;

}

.achieves{
	display: grid;
	width:90%;
	margin:auto;
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: repeat(3,80%);
	font-size:30px;	
}

.achieves p{
	height:100%;
	line-height:40px;
	color: #fcfc;
	/* border:1px solid red; */
	text-align: center;
	

}


/* experience */

#ex-box{
	width:35%;
	height: 60%;
}


.center {
	text-align: center;
}

.italic{
	font-style: italic;
}

#ex-date{
	font-style: normal;
	font-size: 18px;
}

/* project Starts here..*/

.project{
	background: #101010;
	width: 100%;
	padding: 50px 0px;
}
.title h2{
	text-align: center;
	color: white;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	
}
.box{
	min-height: 400px;
}
.card{
	height: 550px;
	width: 80%;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px auto;
	overflow: hidden;
	text-align: center;
}
.card img{
	display: block;
	width:30%;
	margin:auto;
	text-align: center;
	margin: 25px auto;

}
.techstack{
	color:white;
	font-size: 24px;
	margin:10px auto;
}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	width:50%;
	margin:auto;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.pra p h5{
	color:white;
}

.links{
	width:50%;
	margin:auto;
}
.links i{
	font-size: 25px;
	margin:10px;
	color:white;
}

/* project ends here */


/* skills */
.skills{
    padding:100px 0px;
	margin-top: -100px;
	background-color: #191919;
}


.skills h2{
	color:#191919;
	color:white;
}

.skill-images{
	height:300px;
	width:90%;
	margin:auto;
	color:#191919;
}

.skill-images div{
	width:100%;
	margin:20px auto;
}

.skill-images img{
	width:10%;
	height: auto;
}

.img1,.img2{
	display: flex;
	width:100%;
	text-align: center;
	justify-content:space-evenly;
}

.img2 p{
	position:absolute;
	color:white;
	font-size:36px;
}


.img2 p:nth-child(6){
	left:80%;
	color:black;
	background-color:rgba(248, 240, 10, 0.927);
	padding:5px;
	border-radius: 10%;
	visibility:hidden;
}
.img2 img:nth-child(5):hover+p{
	visibility: visible;
	transition: 0.5s;
}

/* soft skills starts*/

.softskills{
	width:90%;
	height:50%;
	margin:auto;
	color:#fcfc;
}
.softskills p{
	font-size: 25px;
	text-align: center;
	margin:3%;
	
}


/* soft skills ended */


/* Skils over */

  /* statistics starts here */

  .cal{
	margin:auto;
	background-color: #191919;
  }
  
  .cal2{
	width:80%;
	margin:auto;
  }
 
  .streak{
	text-align: center;
	margin-top:15px;
  }


  
  .github_stats{
	width:55%;
	margin: auto;
	display: grid;
	justify-content: center;
  }
  .github_stats img{
	width: 100%;
  }



  .github{
    padding-top:20px;
  }

/* github contributions */

  .statistics{
	color:white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width:100%;
	height: 220px;
  }

  .statistics div {
	height: 100%;
  }

  .statistics div p {
	text-align: center;
	margin:15px;
  }

  
  .statistics div p:first-child{
	border:6px solid blueviolet;
	font-size: 22px;
	height: 100px;
	width:100px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .statistics div p:nth-child(2){
	font-size: 28px;
  }




/* Github */





/*footer starts here*/

footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
/*footer ends here*/


.end{
	position: absolute;
	color:#f9004d;
	bottom: 35px;
	font-size: 14px; 
}


  /* small screens */
@media(max-width: 1300px) {
	.hero{
		height:45vh;
	}

	.content{
		top:25%;
	}

	.main img{
		width:33%;
	}
	.title h2{
		padding-right:20%;
	  }
	  .github h2{
		padding-right:50%;
	   }

	
	  }


	  /* github stats */

